@font-face {
    font-family: 'Batsand';
    src: url('/assets/fonts/Batsand.woff2') format('woff2'),
    url('/assets/fonts/Batsand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.color-primary {
    color: #0288D1;
}

.bg-primary {
    background-color: #0288D1;
}

.color-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.color-secondary {
    color: #78909C;
}

.bg-secondary {
    background-color: #78909C;
}

.color-accent {
    color: #FF5252;
}

.bg-accent {
    background-color: #FF5252;
}

.bg-green{background-color: green;}
.bg-blue{background-color: blue;}
.bg-red{background-color: red;}
.bg-black{background-color: black;}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{box-sizing: border-box;}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 5%;
}

path{
    stroke: black;
    stroke-width: 5px;
}